/* style.css */
header {
    background-color: #212529; /* Dark background for header */
}


/* ในไฟล์ style.css */
.icon-large {
    font-size: 24px;  /* กำหนดขนาด font เป็น 24px */
  }
  .icon-larger {
    font-size: 30px; /* กำหนดขนาด font เป็น 30px */
  }



.rating {
    margin-bottom: 10px; 
}
footer {
    position: fixed; /* ให้ Footer ยึดติดด้านล่างจอ */
    width: 100%;
}

